{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Carnet</title>
  </head>
  <body>
	<h1>Carnet</h1>
	
	<ul>
  {% for amis in data.listsimple %}
    {% if amis != '' %}<li>{{ amis }}:{{data.listall[amis]}}</li><a href='del?ami={{amis}}'>Supprimer</a>
  {% else %}{% endif %}
  {% endfor %}
  </ul>
  	<form action="addami" method='get'>
	<label for='id'>identifiant ami : </label><input  name='ami' type='text' />
	<input type='submit' value='Ajouter' />
	</form>
  </body>
</html>