{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Carnet</title>
  </head>
  <body>
	{{data}}
	<a href='mod' >Modifier</a>
	<a href='logout' >Logout</a>
  </body>
</html>