{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Carnet</title>
  </head>
  <body>
	<form action="grant" method='get'>
	<label for='id'>identifiant : </label><input name='id' type='text' />
	<label for='pw'>password : </label><input type="password" name='pw' />
	<input type='submit' value='valider' />
	</form>
  </body>
</html>