{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Carnet</title>
  </head>
  <body>
	<form action="trait" method='get'>
	<label for='id'>identifiant : </label><input name='id' type='text' />
	<label for='pw'>password : </label><input type="password" name='pw' />
	<label for='id'>email : </label><input name='mail' type='email' />
	<label for='pw'>adresse : </label><input type="text" name='adr' />
	<label for='id'>téléphone : </label><input name='tel' type='text' />
	<label for='pw'>site : </label><input type="text" name='site' />
	<input type='submit' value='valider' />
	</form>
  </body>
</html>