{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}
{#
#}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Carnet</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

	<link href="http://getbootstrap.com/examples/starter-template/starter-template.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Test symfony apartoo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ><a href="login">Connexion</a></li>
			<li class="active"><a href="inscr">inscription</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
		<h1>Inscription</h1>
	<form class="form-horizontal" action="trait" method='get'>
	<div class="form-group">
	<label class="col-sm-2 control-label" for='id'>identifiant : </label><div class="col-sm-10"><input required class="form-control" name='id' type='text' /></div>
	</div>
	<div class="form-group">
	<label class="col-sm-2 control-label" for='pw'>password : </label><div class="col-sm-10"><input required class="form-control" type="password" name='pw' /></div>
	</div>
	<div class="form-group">
	<label class="col-sm-2 control-label" for='id'>email : </label><div class="col-sm-10"><input required class="form-control" name='mail' type='email' /></div>
	</div>
	<div class="form-group">
	<label class="col-sm-2 control-label" for='pw'>adresse : </label><div class="col-sm-10"><input required class="form-control" type="text" name='adr' /></div>
	</div>
	<div class="form-group">
	<label class="col-sm-2 control-label" for='id'>téléphone : </label><div class="col-sm-10"><input required class="form-control" name='tel' type='text' /></div>
	</div>
	<div class="form-group">
	<label class="col-sm-2 control-label" for='pw'>site : </label><div class="col-sm-10"><input required class="form-control" type="text" name='site' /></div>
	</div>
	<div class="form-group">
	<input class='btn btn-success' type='submit' value='valider' />
	</div>
	</form>
	</div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>